{% extends 'data/base.html' %}

{% block style %}
<style type="text/css">
	.main {
		margin: 30px 30px 30px 30px;
	}
	.de {
		margin-bottom: 15px;
	}
</style>
{% endblock %}

{% block content %}
<div class="main">
	<div>
		<h3>Как можно поддержать проект?</h3>
		<p>Друзья, версия сайта, которую вы видите перед собой, является бета-версией итогового проекта. Мы еще будем добавлять большее количество аналитических графиков и возможностей для вас ими манипулировать, а пока мы просим вас протестировать существующий сервис и отписаться в telegram на имя <a href="https://t.me/redman_plus">@redman_plus</a>, в случае если найдете какие-либо баги.</p>
		<p>Мы также приняли решение, что мы не будем принимать каких-либо денежных пожертвований со стороны сообщества или отдельных личностей до момента, пока проект не будет готов на 100% от заявленных изначально условий. Мы не хотим, чтобы наша работа со стороны напоминала скам, в котором разработчики просят деньги за сырой и неготовый продукт, поэтому если у вас есть желание поддержать в будущем проект финансово (50% от донатов будет уходить на поддержку работы хостинга, остальное - на развитие дебатного IT в России), то ждите официального окончания разработки. Все ссылки будут на этой же странице</p>
	</div>
</div>
{% endblock %}