{% extends 'data/base.html' %}

{% block style %}
<style type="text/css">
	.main {
		margin: 30px 30px 30px 30px;
	}
	.de {
		margin-bottom: 15px;
	}
</style>
{% endblock %}

{% block content %}
<div class="main">
	<div>
		<h1 class="de">Все тэбы в одном месте</h1>
		<h3>Мы собрали все данные о турнирах, на которых вы играли, чтобы вам не пришлось искать их самим. А еще мы добавили визуализацию и инструменты аналитики, чтобы вы могли более четко следить за изменением ваших спикерских баллов.</h3>
	</div>
</div>
{% endblock %}