{% extends 'data/base.html' %}

{% block style %}
<style type="text/css">
	.main {
		margin: 30px 30px 30px 30px;
	}
	.de {
		margin-bottom: 15px;
	}
</style>
{% endblock %}

{% block content %}
<div class="main">
	<div>
		<h1 class="de">Все тэбы в одном месте</h1>
		<h4>Мы собрали все данные о турнирах, на которых вы играли, чтобы вам не пришлось искать их самим. А еще мы добавили визуализацию и инструменты аналитики, чтобы вы могли более четко следить за изменением ваших спикерских баллов.</h4>
		<hr>
		<p>	В дебатном сообществе уже достаточно давно говорят о необходимости какой-либо системности в обучении. Будь то системность в обучении новичков или системность в распределении спикерских баллов. Мы, к сожалению, не можем помочь с перечисленными выше проблемами в силу довольно скупых дебатных скиллов, однако мы все еще хотим помочь сообществу.</p>
		<p>Поэтому мы сделали ДебатГрафики</p>
		<p>Мы собираем абсолютно всю возможную информацию о турнире и спикерах на этом турнире. Какие спикерские были в том или ином раунде? На какой позиции играл спикер? Какое место занял? Мы собираем всю эту информацию, чтобы вы могли взглянуть на свои дебатные достижения со стороны и четко увидеть важные линии тренда. Развиваетесь ли вы как игрок? Проседают ли те или иные столы? Стали ли ваши речи более равномерными в плане качества, или начали активно скакать? На все эти вопросы мы обязательно поможем вам ответить.</p>
		<p>Надеемся, что благодаря нам вы станете лучше.</p>
	</div>
</div>
{% endblock %}